{{ if isset .Site.Params "schedule" }}
{{ if .Site.Params.schedule.enable }}
<section class="bar background-gray no-mb">
  <div class="heading text-center">
      <h2>Schedule</h2>
  </div>

  <div class="text-center">
    <h3>August 19th – August 23rd, 2019</h3>
  </div>
  
<div class="container" role="main">

  		<div class="content-padder">
  									
  					<div class="col-md-2 col-md-offset-1">
  						<h4>Monday</h4>
  							<div class="day">
  											<p class="time"><strong>8:30am</strong></p>
  												<p class="text">Breakfast and computer setup</p>

  											<p class="time"><strong>9:30am</strong></p>
  												<p class="text">Welcome and orientation</p>
  
  														<p class="instructor">
  															<em>
  																<a href="https://psychology.uoregon.edu/profile/klmills" target="_blank">
  																	Kate Mills</a> & <a href="https://psychology.uoregon.edu/profile/mbyrne/" target="_blank">
  																	Michelle Byrne</a>
  															</em>
  														</p>
  																									
  									
  											<p class="time"><strong>10:00am</strong></p>
  												<p class="text">Introduction to ABCD dataset</p>
  												
  														<p class="instructor">
  															<em>
  																<a href="https://www.ohsu.edu/xd/education/schools/school-of-medicine/departments/clinical-departments/psychiatry/research/developmental-brain-imaging-lab/" target="_blank">
  																	Bonnie Nagel</a>
  															</em>
  														</p>
  														
  											<p class="time"><strong>10:30am</strong></p>
  												<p class="text">Introduction to ABCD resources</p>
  
  														<p class="instructor">
  															<em>
  																<a href="https://www.ohsu.edu/school-of-medicine/developmental-cognition-and-neuroimaging-lab/dcan-leadership" target="_blank">
  																	Damien Fair</a>
  															</em>
  														</p>

  											<p class="time"><strong>11:00am</strong></p>
  												<p class="text">Adolescent brain development and mental health</p>
  
  														<p class="instructor">
  															<em>
  																<a href="http://www.kathrynlmills.com/" target="_blank">
  																	Kate Mills</a>, <a href="https://dsn.uoregon.edu/people/pfeifer-2/" target="_blank">
  																	Jenn Pfeifer</a>, & <a href="https://psychology.uoregon.edu/profile/nallen3/" target="_blank">
  																	Nick Allen</a>
  															</em>
  														</p>  																								
  									

  											<p class="time"><strong>12:00pm</strong></p>
  												<p class="text">Lunch on own</p>

  											<p class="time"><strong>1:30pm</strong></p>
  												<p class="text">Conducting rigorous research on large open-access developmental datasets</p>
  
  														<p class="instructor">
  															<em>
  																<a href="https://www.amyorben.com/" target="_blank">
  																	Amy Orben</a>
  															</em>
  														</p>    												

  											<p class="time"><strong>2:30pm</strong></p>
  												<p class="text">	Theory behind predictive modeling</p>
  
  														<p class="instructor">
  															<em>
  																<a href="https://www.ohsu.edu/people/oscar-mirandadominguez/AFE053660D5D7398225B7F7DA7647915" target="_blank">
  																	Oscar Miranda-Dominguez</a>
  															</em>
  														</p>    

  											<p class="time"><strong>3:30pm</strong></p>
  												<p class="text">Coffee break</p>

  											<p class="time"><strong>4:00-5:00pm</strong></p>
  												<p class="text">Interactive discussion about goals, lessons, introductions, applications</p>

  											<p class="time"><strong>5:30-7:00pm</strong></p>
  												<p class="text">Welcome social event</p>
  														
  						</div> 
  					</div> 
  
  					
  					
  				
  					<div class="col-md-2">
  						<h4>Tuesday</h4>
  							<div class="day">
  							  
  											<p class="time"><strong>8:30am</strong></p>
  												<p class="text">Breakfast</p>

  											<p class="time"><strong>9:30am</strong></p>
  												<p class="text">Recap and discussion of the previous day</p>
  
  											<p class="time"><strong>10:00am</strong></p>
  												<p class="text">Best practices for rigorous and reproducible neuroimaging research</p>

  											<p class="time"><strong>11:00am</strong></p>
  												<p class="text">Data science tools for reproducible neuroimaging research</p>
  
  														<p class="instructor">
  															<em>
  																<a href="https://www.ohsu.edu/school-of-medicine/developmental-cognition-and-neuroimaging-lab/computing-team" target="_blank">
  																	Eric Earl</a>
  															</em>
  														</p> 

  											<p class="time"><strong>12:00pm</strong></p>
  												<p class="text">Lunch on own</p>
  														
  											<p class="time"><strong>1:30pm</strong></p>
  												<p class="text">Introduction to DEAP</p>
  												
    												<p class="instructor">
    															<em>
    																<a href="https://profiles.ucsd.edu/wesley.thompson" target="_blank">
    																	Wes Thompson</a>
    															</em>
    														</p> 
								    														
  											<p class="time"><strong>2:30pm</strong></p>
  												<p class="text">Coffee break</p>
  												
  											<p class="time"><strong>3:00pm</strong></p>
  												<p class="text">Theory in Practice: Predictive Modeling in Neuroimaging</p>
  												
  												  	<p class="instructor">
    															<em>
    																<a href="https://www.ohsu.edu/school-of-medicine/developmental-cognition-and-neuroimaging-lab/computing-team" target="_blank">
    																	Eric Feczko</a>
    															</em>
    														</p> 

  											<p class="time"><strong>4:00pm</strong></p>
  												<p class="text">Introduction to hackathon challenge and team formation</p>
  												  
  												  <p class="instructor">
    															<em>
    																<a href="/schedule/" target="_blank">
    																	Kate Mills, Michelle Byrne, Damien Fair</a>
    															</em>
    														</p> 

  											<p class="time"><strong>6:00pm- </strong></p>
  												<p class="text">Optional open hacking</p>

  						</div> 
  					</div> 
  
  					
  					
  				
  					<div class="col-md-2">
  						<h4>Wednesday</h4>
  							<div class="day">
  
  											<p class="time"><strong>8:30am</strong></p>
  												<p class="text">Breakfast</p>

  											<p class="time"><strong>9:30am</strong></p>
  												<p class="text">Psychopathology roundtables</p>
  
  											<p class="time"><strong>11:00am</strong></p>
  												<p class="text">Team projects / Open hacking</p>

  											<p class="time"><strong>12:00pm</strong></p>
  												<p class="text">Lunch on own</p>
  												
  											<p class="time"><strong>1:30pm</strong></p>
  												<p class="text">Team projects and optional break-out sessions</p>
  												
  											<p class="time"><strong>4:30pm</strong></p>
  												<p class="text">Wrap-up and discussion</p>

  											<p class="time"><strong>6:00pm- </strong></p>
  												<p class="text">Optional open hacking</p>
  												
  						</div> 
  					</div> 
  
  					
  					
  				
  					<div class="col-md-2">
  						<h4>Thursday</h4>
  							<div class="day">
  
  											<p class="time"><strong>8:30am</strong></p>
  												<p class="text">Breakfast</p>

  											<p class="time"><strong>9:30am</strong></p>
  												<p class="text">Social and environmental influences roundtables</p>
  
  											<p class="time"><strong>11:00am</strong></p>
  												<p class="text">Team projects / Open hacking</p>

  											<p class="time"><strong>12:00pm</strong></p>
  												<p class="text">Lunch on own</p>
  												
  											<p class="time"><strong>1:30pm</strong></p>
  												<p class="text">Team projects and optional break-out sessions</p>
  												
  											<p class="time"><strong>4:30pm</strong></p>
  												<p class="text">Wrap-up and discussion</p>

                        <p class="time"><strong>6:30pm- </strong></p>
  												<p class="text">Farewell social event</p>
  												
  						</div> 
  					</div> 
  
  					
  					
  				
  					<div class="col-md-2">
  						<h4>Friday</h4>
  							<div class="day">
  
  								  		<p class="time"><strong>8:30am</strong></p>
  												<p class="text">Breakfast</p>

  											<p class="time"><strong>9:30am</strong></p>
  												<p class="text">Team projects / Open hacking</p>
  
  											<p class="time"><strong>12:00pm</strong></p>
  												<p class="text">Lunch on own</p>
  												
  											<p class="time"><strong>1:30pm</strong></p>
  												<p class="text">Project presentations and challenge award</p>
  												
  											<p class="time"><strong>3:30pm</strong></p>
  												<p class="text">Next steps and sustaining collaborations</p>
  												
  						</div> 
  					</div> 
  
  					

  	  </div>
  </div>

</section>
<!-- /.bar -->
{{ end }}
{{ end }}

